@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700|Crimson+Text);body {
  background-color: white; }

* {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  margin: 0; }

header {
  position: relative;
  height: 177vw;
  background: url(https://pbs.twimg.com/media/Cw-QqhDXAAAebLz.jpg) 80% 30%/auto 80% no-repeat; }
  header .name {
    position: absolute;
    width: 310px;
    height: 90px;
    margin-left: -155px;
    margin-bottom: -45px;
    left: 50%;
    bottom: 15%;
    padding: 10px 20px;
    border: 10px double black;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 0.7em; }

main {
  margin: 15px; }

.about-module {
  height: 177vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .about-module p {
    max-width: 500px;
    position: relative;
    text-align: justify; }
    .about-module p span {
      position: absolute;
      bottom: -20px;
      right: 5%; }
      .about-module p span a {
        text-decoration: none;
        color: black;
        background-color: skyblue;
        border-radius: 5px;
        padding: 3px; }

.quotes-module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 212vw; }
  .quotes-module blockquote {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
    min-height: 53vw;
    font-size: 1em;
    text-align: justify;
    margin-bottom: 18vw; }
    .quotes-module blockquote .before {
      position: absolute;
      left: -15%;
      bottom: 40%;
      font-size: 2em;
      font-family: 'Amatic SC', cursive;
      font-weight: bolder; }
    .quotes-module blockquote .after {
      position: absolute;
      right: -15%;
      bottom: 40%;
      font-size: 2em;
      font-family: 'Amatic SC', cursive;
      font-weight: bolder; }
    .quotes-module blockquote p {
      display: none; }
      .quotes-module blockquote p.active {
        display: block; }
    .quotes-module blockquote footer {
      position: absolute;
      right: 10%;
      top: 100%; }
      .quotes-module blockquote footer:before {
        content: "- "; }

.song-module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .song-module audio {
    max-width: 100%;
    margin: 20px 0; }
  .song-module .lyrics h2 {
    text-align: center; }
  .song-module .lyrics p {
    margin-bottom: 10px; }

footer.signature {
  margin: auto;
  width: 80%;
  text-align: center; }
  footer.signature p {
    padding: 10px; }

@media screen and (min-width: 768px) {
  header .name {
    font-size: 1.2em;
    width: 430px;
    margin-left: -215px;
    height: 120px;
    margin-bottom: -60px; }
  .quotes-module blockquote {
    font-size: 1.5em;
    min-height: 35vw; } }

@media screen and (min-width: 992px) {
  .song-module {
    height: 177vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .song-module .lyrics {
      padding: 50px 0;
      width: 50%;
      height: 500px;
      overflow: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .song-module .lyrics p {
        width: 300px; } }

@media screen and (orientation: landscape) {
  header {
    height: 56vw; }
  div.about-module {
    height: 56vw; }
  div.quotes-module {
    height: 67vw; }
    div.quotes-module blockquote {
      min-height: 17vw;
      margin-bottom: 6vw; } }

@media screen and (min-width: 768px) and (orientation: landscape) {
  div.quotes-module blockquote {
    min-height: 11vw; } }

@media screen and (min-width: 992px) and (orientation: landscape) {
  header .name {
    left: 30%;
    bottom: 45%; }
  .song-module {
    height: 56vw; } }

@media screen and (min-width: 1200px) and (orientation: landscape) {
  div.quotes-module {
    background: url(http://images.clipartpanda.com/vintage-microphone-stand-clip-art-microphone.svg) -150px 50%/auto 70% no-repeat; }
    div.quotes-module blockquote {
      width: 40%;
      margin-left: 30%;
      margin-bottom: 17vw; } }
